@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
  border: solid 0.5px #8e8e8e;
  cursor: pointer;
}

@font-face {
  font-family: 'HanaBankFont';
  src: url('../fonts/hana-bank-font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  @apply font-hanabank;
}
